* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding-top: 42px;
  padding-bottom: 54px;
}

.main_descr {
  padding-top: 115px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 115px;
  background-image: url(img/top_back.png);
  background-repeat: no-repeat;
  background-size: 44%;
  background-position: right center;
}

.main_title-descr {
  margin-bottom: 32px;
  width: 510px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.top_button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  margin-top: 71px;
  display: inline-block;
}

.main_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.main_text-descr {
  width: 425px;
}

.content_wrap {
  padding-top: 64px;
}

.content_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
}

.title_h3 {
  font-size: 36px;
  text-align: center;
}

.project_img {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 32px;
}

.project_item {
  position: relative;
}

.project_parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project_text-TwoRow {
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  color: #fff;
  position: absolute;
  top: 64px;
  left: 32px;
}

.project_text {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #fff;
  position: absolute;
  top: 64px;
  right: 64px;
}

.text {
  font-style: 16px;
  line-height: 26px;
  color: #1F3F68;
  letter-spacing: 0.05em;
  opacity: 0.6;
}

.baner_text_self {
  width: 75%;
  margin: 32px auto 64px;
  color: #222222;
  opacity: 1;
  text-align: center;
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 64px;
  padding-bottom: 64px;
}

.item_title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  margin-bottom: 14px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 359px;
  padding: 44px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.card .card_img_2 {
  margin-bottom: 26px;
}

.card_img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 51px;
}

.baner_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.card_link {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  text-decoration: none;
}

.content_banner {
  margin: 20px 0;
}

.question_title {
  max-width: 400px;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.question_text {
  max-width: 494px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}

.question-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 91px;
  margin-bottom: 96px;
}

.footer {
  margin-top: 112px;
  background: #316099;
  padding-bottom: 64px;
}

.wrap_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body {
  font-family: sans-serif;
}

.main {
  min-height: 768px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EBF3FB), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.main_title {
  font-size: 64px;
  color: #1F3F68;
}

.contactsTitle_h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.title_h3 {
  font-size: 36px;
  text-align: center;
}

.title_h4 {
  font-size: 20px;
  line-height: 30px;
  color: #1F3F68;
}

.style_input {
  border: 1px solid #5A98D0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.button_form {
  padding: 15px 80px;
  background: #5A98D0;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  text-decoration: none;
}

.line {
  opacity: 0.4;
  border: 1px solid #FFFFFF;
}

.paragraph {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
}

.list-contacts {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 64px;
}

.address {
  max-width: 300px;
}

.contacts_indent {
  margin-right: 20px;
}

.contacts_link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.wrap_contacts {
  margin-top: 64px;
}

.project_item_1 {
  margin-right: 20px;
}

.contacts_banner {
  background-image: url(img/contacts_fon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.banner_wrap .contactsTitle_h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.banner_wrap .paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts_form {
  padding-top: 51px;
}

.form_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-bottom: 96px;
}

.form_wrap .form_left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 101px;
}

.form_wrap .form_left-column .list_phone li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 16px;
}

.form_wrap .form_left-column .list_phone li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  text-decoration: none;
}

.form_wrap .form_left-column .list_phone li img {
  margin-right: 19px;
}

.form_wrap .form_left-column .list_mail li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 16px;
}

.form_wrap .form_left-column .list_mail li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  text-decoration: none;
}

.form_wrap .form_left-column .list_mail li img {
  margin-right: 19px;
}

.form_wrap .form_left-column .item_form {
  margin-bottom: 40px;
}

.form_wrap .form_left-column .title_h4 {
  font-family: Roboto;
  font-style: normal;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  padding-bottom: 24px;
}

.form_wrap .form_left-column .p_addres {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
  max-width: 299px;
}

.form_wrap .form_right-column {
  width: 60vw;
  max-width: 520px;
  padding: 56px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.form_wrap .form_right-column .title_h4 {
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.form_wrap .form_right-column .form_send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 48px;
}

.form_wrap .form_right-column .form_send .form_paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.8;
  padding-bottom: 8px;
}

.form_wrap .form_right-column .form_send .style_input {
  opacity: 0.4;
  border: 1px solid #5A98D0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
}

.form_wrap .form_right-column .form_send .style_input::-webkit-input-placeholder {
  padding-top: 21px;
  padding-left: 36px;
}

.form_wrap .form_right-column .form_send .style_input:-ms-input-placeholder {
  padding-top: 21px;
  padding-left: 36px;
}

.form_wrap .form_right-column .form_send .style_input::-ms-input-placeholder {
  padding-top: 21px;
  padding-left: 36px;
}

.form_wrap .form_right-column .form_send .style_input::placeholder {
  padding-top: 21px;
  padding-left: 36px;
}

.form_wrap .form_right-column .form_send .input_name {
  height: 72px;
}

.form_wrap .form_right-column .form_send .input_mess {
  height: 144px;
}

.form_wrap .form_right-column .form_send .button_form {
  width: 100%;
  background: #5A98D0;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  text-transform: uppercase;
}

button {
  border-width: 0;
}

li {
  list-style-type: none;
}

@media (max-width: 1024px) {
  .list-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-bottom: 0;
  }
  .button_form {
    padding: 10px 30px;
  }
  .address {
    width: 100%;
    max-width: none;
  }
  .list-contacts li {
    margin-bottom: 25px;
  }
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .main_descr {
    background-position: right bottom;
  }
  .main_descr {
    margin-top: 0;
  }
  .card-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    margin-bottom: 32px;
  }
  .footer {
    padding-bottom: 32px;
    margin-top: 109 px;
  }
}

@media (max-width: 769px) {
  .contacts_form .container_map {
    padding-left: 0;
    padding-right: 0;
    height: 392px;
  }
  .contacts_form .form_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 64px;
  }
  .form_wrap .form_right-column {
    padding: 53px;
  }
  .form_wrap .form_left-column {
    margin-right: 0;
  }
  .footer {
    margin-top: 64px;
  }
  .item_form_1 {
    margin-top: 64px;
  }
  .form_wrap .form_left-column .item_form {
    margin-bottom: 32px;
  }
}

@media (max-width: 667px) {
  .question_title {
    padding-bottom: 32px;
  }
  .form_wrap .form_right-column {
    width: 70vw;
    padding: 36px;
  }
  .contacts_form .form_wrap {
    font-size: 24px;
    line-height: 28px;
  }
  .banner_wrap .paragraph {
    font-size: 16px;
    line-height: 30px;
  }
  .contacts_form .form_wrap {
    padding-bottom: 32px;
  }
  .footer {
    margin-top: 32px;
  }
  .form_wrap .form_right-column .form_send .input_name {
    height: 46px;
  }
  .form_wrap .form_right-column .form_send .input_mess {
    height: 92px;
  }
  .question_title {
    margin: 0;
    max-width: none;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .question-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 41px;
  }
  .question_text {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
  }
  .question_title {
    font-size: 24px;
    line-height: 28px;
  }
  .wrap_contacts {
    margin-top: 32px;
  }
  .footer {
    padding-bottom: 32px;
    margin-top: 64px;
  }
  .button_form {
    padding: 5px 30px;
    margin-top: 32px;
  }
  .top_button {
    font-size: 12px;
    line-height: 26px;
    padding: 0 8px;
  }
  .main_title-descr {
    width: 100%;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 12px;
    text-align: center;
  }
  .main_text-descr {
    width: 100%;
    text-align: center;
  }
  .main_menu {
    padding-top: 18px;
    padding-bottom: 49;
  }
  .main_descr {
    margin-top: 0;
    padding-top: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: none;
  }
  .main {
    min-height: 376px;
    padding-bottom: 41px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .title_h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .card-box {
    padding-top: 32px;
    padding-bottom: 64px;
  }
  .content_wrap {
    padding-top: 48px;
  }
  .card {
    width: 100%;
  }
  .baner_text_self {
    width: 100%;
  }
  .baner_title {
    font-size: 24px;
    line-height: 28px;
  }
  .project_text {
    top: 16px;
    right: 16px;
    font-size: 16px;
    line-height: 19px;
  }
  .project_img {
    margin-top: 0;
  }
  .project_text-TwoRow {
    left: 16px;
    top: 16px;
    font-size: 16px;
  }
  .project_item {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .project_parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 16px;
  }
  .content_banner {
    margin: 0;
  }
  .paragraph {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */